body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2b2b2b;
}

.auth {
    background-color: rgba(87, 87, 87, 0.63);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 300px; 
}

.auth h1 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.auth input,
.auth button {
    width: 80%; 
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: px;
}

.auth button {
    background-color: #4CAF50; 
    color: white;
    cursor: pointer;
}

.auth button:hover {
    background-color: #45a049;
}
.auth input {
    background-color: #2b2b2b;
}
